<h1>Seja bem-vindo<%= name_on_title %></h1>

<p>
    <strong> <%= application_name %> </strong>
</p>
<p>
    <strong>Data: </strong> <%= date_br(Date.today) %> 
</p>
<%= render 'menu' %>
<p>
    Você está em ambiente de: <strong> <%= rails_environment %> </strong>
</p>